<html>
    <head>
        <link rel="stylesheet" href='./static/style.css' />
    </head>
    <body>
        <h2>COMANDI TURTLE</h2>
        <form class='commands' method="post" action="/">
            <input   id = 'f' type="submit" value="f" name="BUTTON"/>
            <input  id = 'b' type="submit" value="b" name="BUTTON"/>
            <input  id = 'r' type="submit" value="r" name="BUTTON"/>
            <input  id = 'l'type="submit" value="l" name="BUTTON"/>
            <input  id = 's'type="submit" value="s" name="BUTTON"/>
            <br>
            <input  id = 'rt' type="submit" value="rt" name="BUTTON"/>
            <input  id = 'lt'type="submit" value="lt" name="BUTTON"/>
            <input  id = 'sl'type="submit" value="sl" name="BUTTON"/>
            <input  id = 'sr'type="submit" value="sr" name="BUTTON"/>

        </form>
      
      	
    </body>
</html>