<html>
    <head>
        <link rel="stylesheet" href='./static/style.css' />
    </head>
    <body>
        <h2>Login</h2>
        <form class='commands' method="post" action="">
            <input  name = "user" id = 'user' type="text" placeholder="Username" value="{{request.form.user}}"  />
            <input  name = "psw" id = 'psw' type="password"  placeholder="Password" value="{{request.form.psw}}"/>
            <input class="btn-submit" type="submit" value="login">

            {%if error%}
            <p class="error"><strong>Error:</strong></p>
            {{error}}
            {% endif %}
        </form>
    </body>
</html>